# question 1

# FOR Loop-
            It is used when  the number of iterations is known.
            The loop runs infinite times in the absance of condition.
            To iterate, the range functon is used.
            
# Syntax:

          for(initializaion;condition;increment){
         
         }

In [1]:
# In this example we show the square of odd nmbers with the help of for loop
#store a list in numbers variable
numbers=[1,3,5,7]
for i in numbers:
    print(i**2)

1
9
25
49

In [2]:
numbers=[1,3,5,7]
result=[]
for i in numbers:
    result.append(i*2)
    print(result)

[2]
[2, 6]
[2, 6, 10]
[2, 6, 10, 14]

In [3]:
# store a numbers 1 to 6 in list
numbers=[1,2,3,4,5,6]
# used result variable to store the final result 
result=[]
# used for loop 
for i in numbers:
    result.append(i**2)        
    print(result)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]

# WHILE Loop-
            It is used when thw number of iteration is unknown.
            While loop return the compile time error in the absance of condition.
            There is no such function in the while loop.
            

# Syntax:

         while(condition){
              statement
         }

In [4]:
x=1
while x<5:
    print(x)
    x = x+1
else:  
    print("done")

1
2
3
4
done

# question 2

# Using for loop

In [5]:
numbers=10
sum=0
product= 1
for i in range(1,numbers+1):
    sum = sum+i  
print("sum of first 10 naturan numbers:",sum)
for j in range(1,numbers+1):
    product=product*j
print("product of first 10 naturan numbers:",product)

sum of first 10 naturan numbers: 55
product of first 10 naturan numbers: 3628800

# Using while loop

In [6]:
n=10
i=1
sum=0
while i<=n:
    sum= sum+i
    i=i+1
print("sum of first 10 naturan numbers:",sum)

sum of first 10 naturan numbers: 55

In [7]:
n=10
j=1
result=1
while j<=n:
    result=result*j
    j=j+1
print("product of first 10 naturan numbers:",result)

product of first 10 naturan numbers: 3628800

# queston 3

In [8]:
n=int(input("enter unit of electricity consumed in a month"))
total=0

if n<=100:
    total= n*4.5
elif n>100 and n<=200:
    total=(100*4.5)+((200-100)*6)
else:
    total=(100*4.5)+((200-100)*6)+((300-200)*10)+((n-300)*20)
print("Total units:",total)

enter unit of electricity consumed in a month 310

Total units: 2250.0

# question 4

In [9]:
list=[]
i=1
for i in range(1,101):
    if i%4==0 and i%5==0:
        list.append(i)
    
print(list)

[20, 40, 60, 80, 100]

# question 5

In [15]:
string1="i want to become a data scientist"
count=0
i=0
for i in range(len(string1)):
    if(
        (string1[i]=="a")
        or (string1[i]=="e")
        or (string1[i]=="i")
        or (string1[i]=="o")
        or (string1[i]=="u")
    ):
        count +=1
print("Total numbers of vowels in a string1:",count)

Total numbers of vowels in a string1: 12